/* my portfolio's default css */

/* look and feel */

body {
    background-color: #242424;    
}

p {
    color: LightGray;
}

h1 {
    color: Tomato;
} 

h2 {
    color: Orange;
} 

h3 {
    color: SlateBlue;
}

p.a {
  font-style: normal;  
}

p.b {
  font-style: italic;
  color: MediumSeaGreen;
}

p.c {
  font-style: oblique;
  color: DodgerBlue;
}

/* links colors */

/* unvisited link */
a:link {
  color: MediumSeaGreen;
}

/* visited link */
a:visited {
  color: MediumSeaGreen;
}

/* mouse over link */
a:hover {
  color: Gray;
}

/* selected link */
a:active {
  color: Gray;
} 
