/* my portfolio's default css */

/* look and feel */

body {
    background-color: #303030;    
}

p {
    color: LightGray;
}

h1 {
    color: Tomato;
} 

h2 {
    color: Orange;
} 

h3 {
    color: SlateBlue;
} 

/* links colors */

/* unvisited link */
a:link {
  color: MediumSeaGreen;
}

/* visited link */
a:visited {
  color: MediumSeaGreen;
}

/* mouse over link */
a:hover {
  color: Orange;
}

/* selected link */
a:active {
  color: Orange;
} 
