/* my portfolio's default css */
/* Theme inspired on Harvard's course notes pages */

/*
Look & feel color scheme:
darker-gray: #0d1117
light-red: #ff7b72
light-gray: #8b9493
light-blue: #79c0e1
light-purple: #d2a8ff
lighter-gray: #c9d1d9
lighter-blue: #a5d6ff
*/

body {
    background-color: #0d1117;    
}

@font-face {
    font-family: "Nightmare Codehack"; 
    src: url('../fonts/nightmare-codehack.otf')  format('opentype');    
}

@font-face {
    font-family: "Monocode Regular";
    src: url('../fonts/monocode-regular-v01.02b.ttf')  format('opentype');
}

div.section {    
    font-family: "Monocode Regular";
    color: #ADB5BD;
}

h1 {
    font-family: "Monocode Regular";
    color: #D2A8FF;
} 

h2 {
    font-family: "Monocode Regular";
    color: #79c0e1;
} 

h3 {
    font-family: "Mom's Typewriter";
    color: #C9D1D9;
}

p, li, ol, ul {
    color: #8b949e;
}

p.a {
  font-style: normal;  
}

p.b {
  font-style: italic;
  color: LightGray;
}

p.c {
  font-style: oblique;
  color: DodgerBlue;
}

/* links colors */

/* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
  text-decoration:none;  
}

/* selected link */
a:active {
  color: #ffffff;
}

---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
