/* my portfolio's default css */

/* look and feel */

body {
    background-color: #0d1117;    
}

h1 {
    color: #ff7b72;
} 

h2 {
    color: #79c0e1;
} 

h3 {
    color: #d2a8ff;
}

p, li, ol, ul {
    color: #8b949e;
}

p.a {
  font-style: normal;  
}

p.b {
  font-style: italic;
  color: LightGray;
}

p.c {
  font-style: oblique;
  color: DodgerBlue;
}

/* links colors */

/* unvisited link */
a:link {
  color: #ffffff;
}

/* visited link */
a:visited {
  color: #ffffff;
}

/* mouse over link */
a:hover {
  color: #ffffff;
  text-decoration:none;  
}

/* selected link */
a:active {
  color: #ffffff;
}

---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
