/* my portfolio's default css */

/* look and feel */

body {
    background-color: #0d1117;    
}

h1 {
    color: #FFD700;
} 

h2 {
    color: #ABE338;
} 

h3 {
    color: #ffa07a;
}

p, li, ol, ul {
    color: LightGray;
}

p.a {
  font-style: normal;  
}

p.b {
  font-style: italic;
  color: LightGray;
}

p.c {
  font-style: oblique;
  color: DodgerBlue;
}

/* links colors */

/* unvisited link */
a:link {
  color: #abe338;
}

/* visited link */
a:visited {
  color: #abe338;
}

/* mouse over link */
a:hover {
  color: #FFD700;
  text-decoration:none;  
}

/* selected link */
a:active {
  color: LightGray;
}

/*  mouse over home link */
.home a.main-nav-item:hover {
    color: LightGray;
    text-decoration:none;
}

---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
