<!DOCTYPE html>
<html lang='en'>

<head>
<title>Bio | Rolando Ugalde</title>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/default.css" />
</head>

<body>
  <h1>Rolando Ugalde.</h1>
  <h3>.::Welcome to my website!::.</h3>
   
  <hr /> 
  
  <div class="section">
       
     <img class="center" src="/images/Rainbow-3-Playful-Fish.72.png">
      <p>"It's a wonderful day for learn about everything.."</p>
          
    <h2>Current Projetcs</h2>
    
    <h3>EDx's Prompt Engineering and Advanced ChatGPT</h3>
    <ul>
      <li>Applications of Advanced</li>
      <li>Chatbot Development with</li>
      <li>Advanced Integration with Other Tools</li>
      <li>Advanced Topics</li>
    </ul>
    
    <h3>Wordpress CMS Farm + SSL Encryption</h3>
    <ul>
      <li>Choosing a Linux Server Distro</li>
      <li>Deciding for a Web Server</li>
      <li>Installing and configuring LAMP</li>
      <li>Planning a Wordpress Installation</li>
    </ul>
    
  <h3>Cenfotec's Web UI desing</h3>
    <ul>
      <li>HTML fundations.</li>
      <li>CSS. selectors & CSS box model.</li>
      <li>Javascript DOM.</li>
      <li>Forms.</li>
      <li>Text transform.</li>
      <li>Media Queries.</li>
      <li>Semantic HTML.</li>
      <li>Animation with CSS3.</li>
      <li>Audio y video. SASS/LESS.</li>
      <li>GitHub pages.</li>
    </ul>
    
  </div>

  <div class="formatted-box">
    @echo off
    echo .:file-backup + openai:.
    echo ServerName: Files-FS
    echo Archives shared files and move them to the NAS.

    setlocal enabledelayedexpansion

    REM Set variables for date and time
    set "YYYY=%date:~-4%"
    set "MM=%date:~-10,2%"
    set "DD=%date:~-7,2%"
    set "HH=%time:~0,2%"
    set "MIN=%time:~3,2%"

    REM Replace spaces in the time with zeros to ensure valid file naming
    if "%HH:~0,1%"==" " set "HH=0%HH:~1%"
    if "%MIN:~0,1%"==" " set "MIN=0%MIN:~1%"

    REM Set the source and destination paths
    set "SEVENZIP=C:\Program Files\7-zip\7z.exe"
    set "SOURCE=D:\files\"
    set "DESTINATION=D:\backup\files-fs-%YYYY%-%MM%-%DD%-%HH%-%MIN%"
    set "LOGFILE=logs\log-%YYYY%-%MM%-%DD%-%HH%-%MIN%.txt"
    set "TARFILE=D:\backup\*.tar"
    set "NAS=\\kush\Backup\Files\"

    REM Create the zip archive
    "%SEVENZIP%" a -ttar -ssw -bb3 "%DESTINATION%" "%SOURCE%" >"%LOGFILE%" 2>&1

    echo Removing work files...
    move "%TARFILE%" "%NAS%"

    endlocal
    
  </div>
  
 <!-- 
  <footer>
      <div class="container">
        my footer
      </div>
  </footer>
-->
  
</body>

</html>
