<!DOCTYPE html>
<html lang='en'>

<head>
<title>Bio | Rolando Ugalde</title>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/default.css" />
</head>

<body>
  <h1>Rolando Ugalde.</h1>
  <h3>.::Welcome to my website!::.</h3>
   
  <hr /> 
  
  <div class="section">
       
     <img class="center" src="/images/Rainbow-3-Playful-Fish.72.png">
      <p>"It's a wonderful day for learn about everything.."</p>
          
    <h2>Current Projetcs</h2>
    
    <h3>EDx's Prompt Engineering and Advanced ChatGPT</h3>
    <ul>
      <li>Applications of Advanced</li>
      <li>Chatbot Development with</li>
      <li>Advanced Integration with Other Tools</li>
      <li>Advanced Topics</li>
    </ul>
    
    <h3>Wordpress CMS Farm + SSL Encryption</h3>
    <ul>
      <li>Choosing a Linux Server Distro</li>
      <li>Deciding for a Web Server</li>
      <li>Installing and configuring LAMP</li>
      <li>Planning a Wordpress Installation</li>
    </ul>
    
  <h3>Cenfotec's Web UI desing</h3>
    <ul>
      <li>HTML fundations.</li>
      <li>CSS. selectors & CSS box model.</li>
      <li>Javascript DOM.</li>
      <li>Forms.</li>
      <li>Text transform.</li>
      <li>Media Queries.</li>
      <li>Semantic HTML.</li>
      <li>Animation with CSS3.</li>
      <li>Audio y video. SASS/LESS.</li>
      <li>GitHub pages.</li>
    </ul>
    
  </div>

  <h3>SSL Certificate deliveri pipeline</h3>
  <div class="formatted-box">
    # cat certificate.crt ca-bundle.crt > ${year}.wildcard.${domain}.${name}
    # openssl pkcs12 -export -in certificate.cer -inkey privateKey.key -out ${year}.wildcard.${domain}.${name}.pfx -certfile ca-bundle.crt
  </div>
  
 <!-- 
  <footer>
      <div class="container">
        my footer
      </div>
  </footer>
-->
  
</body>

</html>
