<!DOCTYPE html>
<html lang='en'>

<head>
<title>Bio | Rolando Ugalde</title>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" media="all" href="/assets/css/default.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">  
</head>

<body>
  <h1>Rolando Ugalde.</h1>
  <h2>**Welcome to my website!**</h2>
   
  <!--
  <div class="content">
      {{ content }}
   </div>
  
  <footer>
      <div class="container">
        my footer
      </div>
  </footer>

-->
  
</body>

</html>
